@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Potje voetballen</h1>
    <p class="lead">Zin in een potje voetbal? Maak spelers aan om te beginnen!</p>
    <p><a href="~/Player/Index" class="btn btn-primary btn-lg">Begin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Twee op papier gelijke teams</h2>
      
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Lees verder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maak je eigen teamverdeling</h2>
        
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Lees verder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maak je eigen teamnaam</h2>
        
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Lees verder &raquo;</a></p>
    </div>
</div>

